div.j1Filter
  select.form-control.j1Filter-select ng-model="selectedItem" ng-options="value as value for value in values"
  a.reset-filter-select href="" ng-show="selectedItem" ng-click="resetFilter()" <ng-transclude></ng-transclude>
